* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}





main {
    background-color: var(--color-background);
}

.section-width {
    margin-left: 12vw;
    margin-right: 12vw;
}

#hero_section_1-grid {
    /* height: 90vh; */
    height: 500px;
    /*how to make it when header will take some space? calc?*/
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 9fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

#section_1-grid {
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 9fr 0.5fr 1fr 0.5fr; */

    /* grid-template-columns: 5vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 5vw;
    grid-template-rows: 8vh 72vh 4vh 8vh 4vh; */

    grid-template-columns: 5vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 5vw;
    grid-template-rows: 40px 360px 20px 40px 20px;

    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

#text-section_1 {
    grid-column: 2 / span 3;
    grid-row: 2/ span 1;    
}

.image-section_1 {
    grid-column: 5 / span 5;
    grid-row: 2/ span 1; 
}


/* .slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
} */

/* .slider > * {
    width: 50px;
    height: auto;
} */



#our_jewellery_2-grid {
    height: 50vh;
    background-color: var(--color-background2);
}


#help_climate_3-grid {
    height: 50vh;
    background-color: white;
}

#our_values_4-grid {
    height: 50vh;
}

#jewellery_types_5-grid {
    height: 50vh;
    background-color: var(--color-background2);

}

#our_brand_6-grid {
    height: 50vh;
}

#get_inspired_7-grid {
    height: 50vh;
    background-color: var(--color-background2);

}


/*
(0. navigation (header))
1. hero section
2. our_jewellery
3. help_climate
4. our_values
5. types
6. our_brand
7. get_inspired
(0. footer)
*/

  
/*
1 navigation -119px
2 slider- (911px OR calc(100vh-nav part i z tego 90%)) 
*/



/*

*/