@import url("https://use.typekit.net/wib3msp.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-button: #c58b71;
  --color-font: #b17458;
  --color-shape1: #8c9e6b;
  --color-shape2: #f3decf;
  --color-shape3: #f3cf90;
  --color-background: #faf5f1;
  --color-background2: #f5e8d6;

  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: normal;
  --font-2: "Work Sans", sans-serif;
  --main-text-color: #3f4c5a;
}

* {
  box-sizing: border-box;
  margin: 0;
}
