@import url("https://use.typekit.net/wib3msp.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-button: #c58b71;
  --color-font: #b17458;
  --color-shape1: #8c9e6b;
  --color-shape2: #f3decf;
  --color-shape3: #f3cf90;
  --color-background: #faf5f1;
  --color-background2: #f5e8d6;

  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: normal;
  --font-2: "Work Sans", sans-serif;
  --main-text-color: #3f4c5a;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-background);
}

.productDetails,
.material,
.materialSize,
.stones,
.qty,
.value {
  display: flex;
  flex-direction: row;
}

.productDetails {
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.material {
}

.materialSize {
  margin-top: 0.5rem;
}
.stones {
}

.qty {
  margin-top: 0.5rem;
}

div {
  margin: 0;
  padding: 0;
}
.productInfo,
.priceName,
.materialType,
.size,
.stone,
.values {
  display: flex;
  flex-direction: column;
}

.productInfo {
  margin-left: 2rem;
}

/* .productPic {
  margin-right: 0;
  padding-right: 0;
}

.product {
  margin: 0;
  padding: 0;
} */
/* 
.product {
  width: 30rem;
} */
.priceName h2,
.materialType h2,
.size h3,
.stone h3,
.value h3 {
  font-family: ivypresto-display, serif;
  font-weight: 200;
  color: var(--main-text-color);
}

.materialType h2,
.size h3,
.stone h3 {
  font-size: 1.5rem;
}

.priceName p,
.material h3 {
  font-family: var(--font-2);
  color: var(--main-text-color);
  font-weight: 200;
  font-size: 1.2rem;
}

.material h3:nth-child(1) {
  margin-right: 0.5rem;
}
.material h3:nth-child(3) {
  margin: 0 0.5rem;
}

.priceName h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--main-text-color);
}

.materialType {
  margin-right: 2rem;
}

.size {
  margin: 0 2rem;
}

.stone img {
  max-width: 70%;
  height: auto;
  margin: 0;
  padding: 0;
}

.valueList {
  margin-top: 2rem;
}

select {
  font-size: 100%;
  padding: 0.5rem;
  padding-right: 3rem;
  border: 1px solid var(--color-button);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  margin-right: 2rem;
  color: var(--main-text-color);
  font-weight: 200;
}

.icon {
  width: 2rem;
  margin: 0.3rem 0;
  margin-right: 1rem;
}

.value h3 {
  margin: 0.3rem 0;
  font-size: 1.1rem;
}

/*PRODUCT DESCRIPTION*/

.productDescription {
  background-color: var(--color-background2);
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
}

/*DROPDOWN*/
.dropdown {
  margin-left: 17rem;
  margin-right: 2rem;
  padding: 0;
  width: 500px;
}
.dropdown a:hover {
  color: #f2d5e8;
}

.dropdownList {
  list-style-type: none;
  font-family: ivypresto-display, serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--main-text-color);
}
.list li,
.list2 li {
  font-size: 1rem;
  font-family: var(--font-2);
  color: var(--main-text-color);
  font-weight: 200;
}
.list,
.list2 {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
.dropdown ul ul {
  /* transform: scaleY(0); */
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}

.dropdown > .dropdownList:hover .list {
  /* transform: scaleY(1); */
  height: 100px;
  width: 300px;
}
.dropdown > .dropdownList:hover .list2 {
  /* transform: scaleY(1); */
  height: 200px;
  width: 300px;
}

/* .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
} */

/*IMAGE STACK*/

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 5rem;
  margin-right: 7rem;
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 30%;
  z-index: 1;
}

.image-stack img {
  max-width: 80%;
}

/*SLIDER*/

.first {
  border: solid 3px yellow;
}
.second {
  border: solid 3px hotpink;
}
.third {
  border: solid 3px red;
}
.fourth {
  border: solid 3px blue;
}
/* 
#slider {
  overflow: hidden;
}

#slider figure {
  display: flex;
  flex-direction: row;
} */

.slideshow-container {
  max-width: auto;
  position: relative;
  margin: 0;
  padding: 0;
}

.mySlides {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}

.mySlides img {
  width: 30rem;
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 90px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 5px;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

.slideshow {
  display: flex;
  flex-direction: column;
}

/* .slideshow-inner {
  display: flex;
  flex-direction: column;
} */

.dots {
  position: relative;
  top: 0;
  left: 10%;
  padding: 0;
  margin: 0;
}
