@import url("https://use.typekit.net/wib3msp.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-button: #c58b71;
  --color-font: #b17458;
  --color-shape1: #8c9e6b;
  --color-shape2: #f3decf;
  --color-shape3: #f3cf90;
  --color-background: #faf5f1;
  --color-background2: #f5e8d6;

  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: normal;
  --font-2: "Work Sans", sans-serif;
  --main-text-color: #3f4c5a;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--main-text-color);
}

.new-font-size {
  font-size: 16px;
}

.mockupDiv {
  height: 100px;
}

.newsletterFooter {
  background-image: url(../photos/footer-option2.2.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: 500px;
}

.textNewsletter {
  margin-left: 80px;
  padding-top: 48px;
  color: white;
}

.betheFirst {
  font-size: 20px;
  color: white;
}

.betheFirst span {
  color: var(--color-shape3);
}

.keepinTouch {
  margin-top: 80px;
}

.lets {
  color: var(--color-font);
  font-size: 50px;
  font-style: italic;
}

.keep {
  font-size: 70px;
  margin-top: -24px;
  color: white;
}

.newsletterForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  color: white;
}

.emailField {
  height: 32px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.formLine {
  height: 1px;
  background-color: white;
  margin-top: 2px;
  margin-bottom: 40px;
}

.joinNow {
  height: 50px;
  width: 200px;
  background-color: transparent;
  border: solid white 2px;
  font-size: 20px;
  font-family: ivypresto-display, serif;
  font-weight: 600;
  font-style: italic;
  color: white;
  transition: 0.4s ease;
}

.joinNow:hover {
  background-color: white;
  opacity: 90%;
  color: var(--color-button);
}

.linksFooter {
  padding-top: 48px;
  padding-bottom: 64px;
  padding-right: 128px;
  padding-left: 128px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
}

.findUs {
  font-size: 24px;
  margin-bottom: 24px;
}

.findUs span {
  color: var(--color-font);
}

.someIcon {
  height: 25px;
  width: 25px;
  margin-right: 16px;
}

.termsLinks {
  display: flex;
  gap: 20px;
}

.termsLinks a {
  text-decoration: none;
  color: var(--main-text-color);
}

.termsLinks a:hover {
  text-decoration: underline;
}

.dotLinks {
  height: 7px;
  width: 7px;
  background-color: var(--color-font);
  border-radius: 20px;
  margin-top: 9px;
}

.footerRight {
  margin-top: 16px;
  margin-right: 128px;
}

.footerIcons {
  font-size: 20.8px;
}

.footerIcons a {
  text-decoration: none;
  color: var(--main-text-color);
}

.singleIcon {
  display: flex;
  padding-bottom: 24px;
}

.iconImg img {
  max-width: 80%;
}

@media only screen and (max-width: 1180px) {
  .linksFooter {
    padding-right: 64px;
    padding-left: 64px;
  }

  .footerRight {
    margin-right: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .newsletterFooter {
    background-image: url(../photos/footer-option2.2-laptop.jpg);
  }
}

@media only screen and (max-width: 775px) {
  .linksFooter {
    padding-right: 32px;
    padding-left: 32px;
  }

  .newsletterFooter {
    background-image: url(../photos/footer-option2.2-tablet.jpg);
  }
}

@media only screen and (max-width: 635px) {
  .termsLinks {
    font-size: 12.8px;
    gap: 10px;
  }

  .dotLinks {
    height: 5px;
    width: 5px;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 610px) {
  .textNewsletter {
    margin-left: 32px;
  }

  .betheFirst {
    font-size: 18px;
  }

  .lets {
    font-size: 45px;
  }

  .keep {
    font-size: 65px;
  }

  .newsletterForm {
    width: 300px;
  }

  .emailField {
    font-size: 20px;
  }

  .joinNow {
    height: 45px;
    width: 180px;
    font-size: 18px;
  }

  .footerTop {
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 480px) {
  .betheFirst {
    font-size: 18px;
  }

  .lets {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .keep {
    font-size: 45px;
  }

  .newsletterForm {
    width: 250px;
  }

  .emailField {
    font-size: 20px;
  }

  .joinNow {
    height: 40px;
    width: 170px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 445px) {
  .termsLinks {
    font-size: 9.6px;
    gap: 7px;
  }

  .dotLinks {
    height: 3px;
    width: 3px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 430px) {
  .newsletterFooter {
    background-image: url(../photos/footer-option2.2-mobile.jpg);
  }

  .findUs {
    font-size: 16px;
  }

  .singleIcon {
    font-size: 16px;
  }

  .iconImg img {
    max-width: 60%;
  }
}
