@import url("https://use.typekit.net/wib3msp.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-button: #c58b71;
  --color-font: #b17458;
  --color-shape1: #8c9e6b;
  --color-shape2: #f3decf;
  --color-shape3: #f3cf90;
  --color-background: #faf5f1;
  --color-background2: #f5e8d6;

  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: normal;
  --font-1: ivypresto-display, serif;
  --font-2: "Work Sans", sans-serif;
  --main-text-color: #3f4c5a;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-color);
}
h1 {
  text-align: center;
  color: var(--color-font);
  font-family: var(--font-1);
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  color: var(--color-font);
  font-family: var(--font-1);
  font-weight: 300;
  font-size: 1.5rem;
}

h3 {
  font-family: var(--font-1);
  font-weight: 200;
  font-size: 1.2rem;
}

/*SECTION ONE*/
.secOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introImage {
  padding: 2rem;
  width: 25rem;
}

.intro {
  padding: 0;
  margin: 0;
  width: 30rem;
  color: var(--main-text-color);
  font-family: var(--font-2);
  font-weight: 300;
  font-size: 1rem;
}
.artOne {
  display: flex;
  flex-direction: column;
}

.secOnev2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 18rem;
}

.values {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 5rem;
}

.value {
  display: flex;
  flex-direction: row;
}

.collageImage {
  max-width: 60%;
  align-self: center;
}

.icon {
  margin: 1rem;
}

h3 {
  margin: 0 1rem;
  align-self: center;
}

/*SECTION TWO*/

.secTwo {
  background-color: var(--color-background2);
  text-align: center;
  padding: 2rem;
}

.secTwo h2 {
  font-style: italic;
}

.secTwo p {
  font-family: var(--font-2);
  font-weight: 300;
}

/*SECTION THREE*/
.secThree {
  display: flex;
  flex-direction: column;
}

.beginning {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin: 0 10rem;
}

img:nth-child(1) {
  max-width: 40%;
}

img:nth-child(2) {
  max-width: 30%;
}

.beg {
  margin: 0 18rem;
  font-family: var(--font-2);
  font-weight: 300;
}

/*SECTION FOUR*/
.secFour {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background2);
}
